<div class="container">
  <h1>Your Notes</h1>

  <h2><%= @user.name %></h2>
  <a href='/logout'>Logout</a>

  <h3>What would you like to do?</h3>

 <p> Add a Note? <p>

 <form action="/add_note" method="post">
    <input type="text" placeholder="Description of your note" name="note">
    <input type="submit" value="Add It!">
  </form>
 
  <br>

  <h2> Your notes: </h2>

  <div class="decks">
    <% if @notes %>
      <% @notes.each do |note| %>
      <p><%= note.id %>: <%= note.description %></p> 

        <form action="/update_note" method="put">
          <input type="hidden" value="<%= note.id %>" name="note_id">
          <input type="submit" value="Change It!">
        </form>

        <br>
        
        <form action="/delete_note" method="delete">
          <input type="hidden" value="<%= note.id %>"  name="note_id">
          <input type="submit" value="Delete It!">
          </form>
      
      <br>  
      <%end%>
    <% end %> 
  </div>

</div>




